tr.project.idnt td.name span { background:none; }
.projects-list { width:100%; margin:10px 0; border-collapse:collapse; cursor:default; }
.projects-list td { padding:5px 6px; }
.projects-list th { vertical-align:top; }
.projects-list .odd, .projects-list .odd+.even-odd-linked { background-color:#fff; }
.projects-list .even, .projects-list .even+.even-odd-linked { background-color:#f8f9fa; }
.projects-list .more { opacity:0; color:#888; font-size:90%; padding:0 5px; cursor:pointer; }
.projects-list .contextual { margin-top:0; }
.projects-list .project-more { display:none; }
.projects-list .project-description { color:#666; margin-left:16px; margin-bottom:10px; font-size:90%; }
.projects-list tr:hover .more { opacity:1; }
.projects-list .membership, .projects-list .issues, .projects-list .users { text-align:center; font-size:90%; color:#888; width:100px; }
.projects-list .activity { width:160px; padding:0 5px !important; }
.projects-list .activity .barchart { display:none; }
.projects-list .activity canvas { border-bottom:1px solid #e8e8e8; margin-bottom:-12px; }
.projects-list .am-i-member { white-space:nowrap; }
.projects-list .am-i-member.member { color:#2a4; }
.projects-list .am-i-member.not-member { color:#aaa; }
#sidebar h4 { border-bottom:none; margin:8px 10px 4px; }
#sidebar .subsection { padding-left:10px; }

.query_form_options{ margin: 10px 0; }
table.projects-list td.description {color:#777; font-size:90%; padding:4px 4px 4px 24px; text-align:left; white-space:normal;}
table.projects-list td.description pre {white-space:normal;}
table.projects-list td .highlighted {background-color: #ffff00;}
fieldset#filters table td { padding: 2px; vertical-align: inherit; }
.filter {width: 250px;}
.projects_query_form fieldset.collapsible { border-width: 1px;margin-bottom: 10px;}
.projects_query_form fieldset.collapsible.collapsed { border-width: 1px 0 0 0;margin-bottom: 0;margin-left: 1px;}
