tr.project.idnt td.name span { background:none; }
.projects-list { width:100%; }
.projects-list .odd { background-color:#f8f9fa; }
.projects-list th { font-weight:normal; color:#888; }
.projects-list td { padding:6px 5px; }
.projects-list .membership, .projects-list .issues, .projects-list .users { text-align:center; font-size:90%; color:#888; width:100px; }
.projects-list .activity { width:160px; padding:0 5px !important; }
.projects-list .activity canvas { border-width:0 0 1px 1px; border-style:solid; border-color:#f3f3f3; margin-bottom:-6px; }
.projects-list .am-i-member { box-sizing:border-box; min-width:16px; }
.projects-list .am-i-member.member { color:#2a4; }
.projects-list .am-i-member.not-member { color:#aaa; }
