tr.project.idnt td.name span { background:none; }
.projects-list { width:100%; margin:10px 0; border-collapse:collapse; cursor:default; }
.projects-list .odd { background-color:#f8f9fa; }
.projects-list .more { opacity:0; color:#888; padding:0 5px; cursor:pointer; }
.projects-list .contextual { margin-top:0; }
.projects-list .project-more { display:none; }
.projects-list .project-description { color:#888; margin:5px 16px; }
.projects-list tr:hover .more { opacity:1; }
.projects-list th { vertical-align:top; font-weight:normal; color:#555; background-color:#f8f9fa; border-bottom:1px solid #ebebee; padding:5px 8px; }
.projects-list th .filter { margin:3px 0 2px; width:240px; box-sizing:border-box; border-radius:2px; border:1px solid #aaa; height:18px; }
.projects-list th input:focus { outline:none; }
.projects-list td { padding:6px 5px; }
.projects-list .membership, .projects-list .issues, .projects-list .users { text-align:center; font-size:90%; color:#888; width:100px; }
.projects-list .activity { width:160px; padding:0 5px !important; }
.projects-list .activity .barchart { display:none; }
.projects-list .activity canvas { border-width:0 0 1px 1px; border-style:solid; border-color:#f3f3f3; margin-bottom:-4px; }
.projects-list .am-i-member { white-space:nowrap; }
.projects-list .am-i-member.member { color:#2a4; }
.projects-list .am-i-member.not-member { color:#aaa; }
